% # main page
  <div class="flex w-4/5 mx-auto">

    % # left
    <div class="w-1/4">
      <div class="fixed h-screen w-1/5 px-8 flex flex-col py-6">
        <div class="">
          <div class="">
            <i class="fa-brands fa-twitter fa-fw text-4xl text-blue1 pl-5"></i>
          </div>
          <div class="">
            % for tab in tabs:
            <div class="mt-6">
              <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="">
                <i class="{{tab['icon']}}"></i>
                <span class="ml-2">{{tab['title']}}</span>
              </a>
            </div>
            % end
            <div class="mt-6">
              <a class="text-xl hover:bg-lighter rounded-full py-3 px-6" href="/create-tweet">
                <i class="{{tab['icon']}}"></i>
                <span class="ml-2">Test</span>
              </a>
            </div>
          </div>
          <button onclick="toggleCreateTweetModal()" class="mt-8 w-full py-3 text-lg text-white bg-blue1 rounded-full">
            Tweet
          </button>
        </div>
        <div class="mt-auto">
          <div class="flex items-center gap-2 px-2 py-3 hover:bg-gray-200 cursor-pointer rounded-full">
            <img class="  w-12 h-12 rounded-full object-cover flex-none" src="/images/user_profile_pictures/{{user_profile_picture}}" onError="this.onerror=null;this.src='/images/user_profile_pictures/default_profile_picture.png';" >
            <div class="flex-1 overflow-ellipsis">
              <p>{{user_first_name}}</p>
              <p class="font-thin">{{user_name}}</p>
            </div>
            <button class="py-2 px-4 hover:bg-gray-200 rounded-full">
              ...
            </button>
          </div>
        </div>  
      </div>
    </div>
    % # end left
