% if not is_fetch:
  % include("templates/_header")
% end

<div class="spa-modal-overlay spa-modal-cover-image">
    <a href="/user-profile/b6d1f3b1-c6e8-46f0-892f-19fd065cbfa6" class="spa-modal-close-layer" onclick="spa(this); return false"></a>
    <main 
        class="modal"
        data-spa_modal
        data-spa_url="/user-cover-image-upload"
        data-spa_title={{title}}
    >

    
    <form onsubmit="return false" autocomplete="off" enctype="multipart/form-data">
        <div class="relative flex min-h-screen flex-col justify-center overflow-hidden">
            <div class="relative bg-white px-6 pt-10 pb-8 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">  
                <!-- <a href="/" onclick="spa(this); return false" class=" absolute text-inherit text-2xl ml-72 text-black">✖</a> -->
                <div class="mx-auto max-w-md">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/Twitter-logo.svg/800px-Twitter-logo.svg.png" class="h-8 mx-auto" alt="" />
                
                    <h2 class="p-4 text-4xl m-auto font-bold w-full">Upload cover image</h2>

                        <div class=" w-full pt-6 pb-6">
                            <label for="testt" class="flex justify-center cursor-pointer">
                              <i class="fas fa-image fa-2x image-icon"></i>
                            </label>
                            <input onchange="getFileName()" class="editTweet ml-10 pt-9" name="user_cover_image" type="file">
                        </div>

                    <div class="pb-4 ">
                    <button onclick="userUploadCoverImage(`b6d1f3b1-c6e8-46f0-892f-19fd065cbfa6`)" type="submit" class="h-12 w-56 mt-6 bg-blue1 rounded-3xl px-4 py-2 text-log text-white tracking-wide font-light font-sans">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
    

    </main>
</div>

% if not is_fetch:
  % include("templates/_footer")
% end
