.image-upload>input {
    display: none;
}

/*  */
.coustom-file-upload>input[type="file"] {
    position: fixed;
    right: 100%;
    bottom: 100%;
}
.tests {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
/*  */

#display-filename {
    position: relative;
    bottom: 8px;
    left: 10px;
    font-size: 14px;
}
#display-cover-img-name {
    display: block;
    position: relative;
    bottom: 8px;
    left: 10px;
    font-size: 14px;
}
.image-icon {
    color: rgb(39, 149, 216) !important;
}


/* spa */
.spa-modal-overlay {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    background: rgba(0, 0, 0, 0.3);
}
.spa-modal-close-layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.return-button {
    width: 30px;
    height: 30px;
    margin-top: 3px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.return-button:hover {
    background-color: rgba(181, 181, 181, 0.2);
}